__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.swp
*.swo
*~
.vscode
.idea
tests
test_*
docs
*.md
uploads/*
!uploads/.gitkeep 